<main id="login">
    <div class="login-box">
        <h1>Login</h1>
        <form method="POST">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email..">
            <input type="password" name="password" placeholder="Password..">
            <input type="submit" value="Login">
        </form>
    </div>
</main>