<section id="edit-page">
    <div class="edit-page-container">
        <h1>Edit User</h1>
        <form method="POST">
            <select name="type">
                <option value="regular">Regular</option>
                <option value="hr">HRM</option>
            </select>
            <input type="text" name="email" placeholder="Email..">
            <button>Change password</button>
            <input type="submit" value="Edit User">
    </div>
</section>