<section id="pwchange-page">
    <div class="pwchange-page-container">
        <h1>Change password for {{user.email}}</h1>
        <form method="POST">
            <input type="password" name="password" placeholder="Password..">
            <input type="password" name="repeatPassword" placeholder="Confirm Password..">
            <input type="submit" value="Change password">
    </div>
</section>