* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}


nav {
    background-color: #050912;
    width: 100%;
    padding: 2px 0;
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
}

nav ul {
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    font-size: x-large;
    text-decoration: none;
}

footer p {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #050912;
    color: white;
    font-weight: bolder;
    text-align: center;
  }

  .errorContainer {
    position: fixed;
    right: 100px;
    min-width: 100px;
    display: block;
    z-index: 11111;
    top: 80px;
    text-align: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    height: auto;
    width: 320px;
    box-shadow: 0 5px 10px black;
  }
  
  .errorContainer > p {
    background: red;
    font-size: 20px;
    padding: 10px;
    height: auto;
    border-radius: 20px;
  }
  
  .errorContainer {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes cssAnimation {
    to {
      width: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  }
  
  @-webkit-keyframes cssAnimation {
    to {
      width: 0;
      height: 0;
      visibility: hidden;
      padding: 0;
    }
  }