<section id="home-page">
    <div class="home-page-container">
        {{#if isAuthenticated}}
        <h1>Admin panel
        </h1>
        <p>Here you can manipulate the data of all users: 
        </p>
        <button>Add new user</button>
        {{else}}
        <h1>Access only for admins.</h1>
        <p>Please log in if you are an admin!</p>
        {{/if}}
    </div>
</section>