<section id="home-page">
    <div class="home-page-container">
        <h1>Admin panel
        </h1>
        <p>Here you can manipulate the data of all users: 
        </p>
        <button>Add new user</button>
    </div>
</section>