
    <main id="allusers">
    <div class="allusers-box">
        <h1>All Users</h1>
            <table>
        <tr>
            <th>Email</th>
            <th>Type</th>
            <th></th>
        </tr>
        <tr>
            <td>Hristo</td>
            <td>Admin</td>
            <td><button value="edit">Edit</button></td>
        </tr>
                <tr>
            <td>Hristo</td>
            <td>Admin</td>
            <td><button value="edit">Edit</button></td>
        </tr>
        <tr>
            <td>Hristo</td>
            <td>Admin</td>
            <td><button value="edit">Edit</button></td>
        </tr>        <tr>
            <td>Hristo</td>
            <td>Admin</td>
            <td><button value="edit">Edit</button></td>
        </tr>
    </table>
    </div>
</main>