<main id="adduser">
    <div class="adduser-box">
        <h1>Add New User</h1>
        <form method="POST">
            <select name="type">
                <option value="regular">Regular</option>
                <option value="hr">HRM</option>
            </select>
            <input type="text" name="email" placeholder="Email..">
            <input type="password" name="password" placeholder="Password..">
            <input type="password" name="repeatPassword" placeholder="Confirm Password..">
            <input type="submit" value="Add User">
        </form>
    </div>
</main>